@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@400;700&family=Unbounded:wght@500;700&display=swap');

html,
body {
  margin: 0;
  background: transparent;
}

body,
html,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

svg {
  min-width: auto !important;
}

.roulette-pro-regular-design-top {
  top: 10rem;
}

.roulette-pro-regular-image-wrapper {
  display: none;
}

.roulette-pro-regular-prize-item-text::first-line {
  font-size: 1em;
  color: white;
}

.roulette-pro-regular-prize-item-text {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);

  display: block;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
