@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@400;700&family=Unbounded:wght@500;700&display=swap');

html,
body {
  margin: 0;
  background: transparent;
}

body,
html,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

svg {
  min-width: auto !important;
}

.roulette-pro-regular-design-top {
  top: 10rem;
}

.roulette-pro-regular-image-wrapper {
  display: none;
}

.roulette-pro-regular-prize-item-text::first-line {
  font-size: 1em;
  color: white;
}

.roulette-pro-regular-prize-item-text {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);

  display: block;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --hsl-primary: 211, 100%, 60%;
  --color-primary: hsl(var(--hsl-primary));

  --hsl-bg: 0, 100%, 100%;
  --color-bg: hsl(var(--hsl-bg));

  --hsl-inverse: 0, 100%, 100%;
  --color-inverse: hsl(var(--hsl-inverse));

  --hsl-text: 211, 5%, 45%;
  --color-text: hsl(var(--hsl-text));

  --hsl-dark: 211, 0%, 1%;
  --color-dark: hsl(var--hsl-dark);

  --hsl-success: 100, 70%, 60%;
  --color-success: hsl(var(--hsl-success));
  --hsl-info: 211, 100%, 60%;
  --color-info: hsl(var(--hsl-info));
  --hsl-danger: 20, 100%, 50%;
  --color-danger: hsl(var(--hsl-danger));
  --hsl-warning: 40, 100%, 50%;
  --color-warning: hsl(var(--hsl-warning));

  --width-header: 0fr;
  --width-main: 1fr;
  --width-aside: 0fr;

  --z-index-header: 1000;
  --z-index-tooltip: 1010;
  --z-index-toast: 1020;
  --z-index-modal: 1030;
}
